%ul.task_list_details
  %li
    %div.triangle
    %span= task.title

  /%li.test=# link_to @task.private? ? "Private" : "Public", tasks_path(task_id: @task, private: @task.private?)
  %li.toggle
    %span= task.description
    -task.subtasks.order("position_in_task ASC").each do |i|
      =render partial: 'details', locals: {task: i}

