.task_list {
  border: 1px solid red;
  list-style: none;
  margin-left: 0;
  padding: 3px;
  border-radius: 4px;
}
.task_list_details {
  margin-left: 0;
  list-style: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  li.toggle {
    padding-left: 15px;
  }
}

.icon {
  cursor: pointer;
}
.triangle {
  content: '';
  display:inline;
  border: 5px solid transparent;
  border-top: 5px solid black;
  float: left;
  height: 5px;
  margin-top: 7px;
  margin-right: 3px;
  cursor: pointer;
}

.toggle {
  display:none;
}


ul > li.draggable{
  list-style: none;
  margin: 5px 0px;
  }

.inline_error {
  color: red;
  float: left;
  clear: both;
}


#center_content > form  > fieldset {
  position: relative;
  div > ol {
    width: 85%;
  }
  &.actions {
    width: 47%;
  }
}
#subtask_list {
  position: absolute;
  top: 0;
  left: 38%;
  width: 35%;
  height: 100%;
  ol {
    list-style: decimal inside none;
    height: 85%;
    width: 100%;
    overflow: auto;
    li > label {
    color: black;
    display: inline;
    }
  }
}

#subtask_sortable > li > label > span.inline_error{
  float: none;
}

.task-form {
  position: relative;
  .control-group  {
    margin-bottom: 20px;
    clear: both;
    width: 38%;
    input {
      width: 85%;
    }
    textarea {
      width: 85%;
    }

  }
}





.draggable > label {
  display: inline;
}

.remove {
  cursor: pointer;
}

.span6 {
  //border: 1px solid green;
}
// .formtastic fieldset.inputs > ol > li.input label.label abbr {
//   right: 12px;
//   top: 3px;
// }
// .formtastic fieldset.inputs > ol > li.input label.label {
//   float: left;
//   text-align: left;
//   width: auto;

// }

// .formtastic fieldset.inputs,.formtastic fieldset.actions{
//   margin: 5px;
// }
// .formtastic fieldset.inputs ol > li.input.boolean.input input[type="checkbox"] {
//   margin-left: 0px;
// }

// .formtastic fieldset.inputs ol > li.input.stringish input[type="text"] {
//   float: left;
//   clear: both;
// }

// .formtastic fieldset.actions ol {
//   margin-left: 5px;
// }

// .formtastic fieldset.inputs ol > li.input.text textarea,
// {
//   height: 100px;
//   max-width: 350px;
//   float: left;
//   clear: both;
// }


// //borders
// #new_task > fieldset {
//   border: 2px solid red;
//   position: relative;

//   ol {
//     border: 2px solid green;
//     width: 45%;
//     li {
//       border: 2px solid blue;
//     }
//   }
// }
// #subtask_list {
//   border: 2px solid pink;
// }
// ol.droppable {
//   border: 2px solid red;
// }
