!!!
%html(lang="en")
  =render 'shared/head'
  %body
    =render 'shared/header'
    %div.container-fluid
      %div.row-fluid
        %div.span3=render 'shared/sidebar'
        %div.span9
          %div{:"data-pjax-container" => ""}
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"

          -if show_title?
            %h1= yield(:title)

          = yield
      =render 'shared/footer'

    =render 'shared/javascripts'
