!!!
%html(lang="en")
  =render 'shared/head'
  %body
    =render 'shared/header'
    %div.container-fluid
      %div.row-fluid
        .span2=render 'shared/sidebar'
        .span7
          .row-fluid#inner
            .span3#left_content
              =yield(:left_content)
            .span9#center_content{:"data-pjax-container" => ""}
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"

              -if show_title?
                %h1= yield(:title)
              = yield
        .span3.rightbar#right_content
          =yield(:rightbar)
      =render 'shared/footer'

    =render 'shared/javascripts'
